<TMPL_INCLUDE NAME='partial/head.tmpl'>
<body>
<TMPL_INCLUDE NAME='partial/navigation.tmpl'>

<div class="content">

	<h2><b>Problems Overview</b></h2>

	<div class="alert alert-danger" id="criticals">
		<h3><b>Criticals (<TMPL_VAR NAME='NCRITICAL'>)</b></h3>
		<TMPL_LOOP NAME='CRITICAL'>
			<h4><TMPL_VAR ESCAPE='HTML' NAME='NODENAME'> :: <TMPL_VAR ESCAPE='HTML' NAME='LABEL'></h4>
			<a href="<TMPL_VAR NAME='URL'>">
				<img src="<TMPL_VAR NAME='CIMGDAY'>" alt="<TMPL_VAR ESCAPE='HTML' NAME='LABEL'>" class="i" />
				<img src="<TMPL_VAR NAME='CIMGWEEK'>" alt="<TMPL_VAR ESCAPE='HTML' NAME='LABEL'>" class="i" />
			</a>
		</TMPL_LOOP>
	</div>

	<div class="alert alert-warning" id="warnings">
		<h3><b>Warnings (<TMPL_VAR NAME='NWARNING'>)</b></h3>
		<TMPL_LOOP NAME='WARNING'>
			<h4><TMPL_VAR ESCAPE='HTML' NAME='NODENAME'> :: <TMPL_VAR ESCAPE='HTML' NAME='LABEL'></h4>
			<a href="<TMPL_VAR NAME='URL'>">
				<img src="<TMPL_VAR NAME='CIMGDAY'>" alt="<TMPL_VAR ESCAPE='HTML' NAME='LABEL'>" class="i" />
				<img src="<TMPL_VAR NAME='CIMGWEEK'>" alt="<TMPL_VAR ESCAPE='HTML' NAME='LABEL'>" class="i" />
			</a>
		</TMPL_LOOP>
	</div>

	<div class="alert alert-info" id="unknowns">
		<h3><b>Unknowns (<TMPL_VAR NAME='NUNKNOWN'>)</b></h3>
		<TMPL_LOOP NAME='UNKNOWN'>
			<h4><TMPL_VAR ESCAPE='HTML' NAME='NODENAME'> :: <TMPL_VAR ESCAPE='HTML' NAME='LABEL'></h4>
			<a href="<TMPL_VAR NAME='URL'>">
				<img src="<TMPL_VAR NAME='CIMGDAY'>" alt="<TMPL_VAR ESCAPE='HTML' NAME='LABEL'>" class="i" />
				<img src="<TMPL_VAR NAME='CIMGWEEK'>" alt="<TMPL_VAR ESCAPE='HTML' NAME='LABEL'>" class="i" />
			</a>
		</TMPL_LOOP>
	</div>

</div>

<TMPL_INCLUDE NAME="partial/footer.tmpl">
</body>
</html>
