
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" id="navbar">
	<div class="container">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<!-- Brand + Period selector -->
			<div class="btn-group btn-group-xs" data-toggle="buttons">
				<a class="navbar-brand" href="#" onclick="$('#navbar').toggleClass('navbar-inverse')">Munin2</a><br>
				<label class="btn btn-primary">
					<input type="radio" name="options" id="per_day" autocomplete="off" onchange="SwitchPeriod('day')">D
				</label>
				<label class="btn btn-primary">
					<input type="radio" name="options" id="per_week" autocomplete="off" onchange="SwitchPeriod('week')">W
				</label>
				<label class="btn btn-primary">
					<input type="radio" name="options" id="per_month" autocomplete="off" onchange="SwitchPeriod('month')">M
				</label>
				<label class="btn btn-primary">
					<input type="radio" name="options" id="per_year" autocomplete="off" onchange="SwitchPeriod('year')">Y
				</label>
			</div>

		</div>

		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">

				<li><a href="<TMPL_VAR NAME="R_PATH">">Overview</a></li>

				<!-- Hosts -->
				<li class="dropdown">
					<a class="dropdown-toggle">Hosts<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<TMPL_LOOP NAME="ROOTGROUPS">
							<li class="dropdown-header"><TMPL_VAR NAME="NAME"></li>
							<TMPL_LOOP NAME="GROUPS">
								<li><a href="<TMPL_VAR NAME="R_PATH">/<TMPL_VAR NAME="URL">"><TMPL_VAR NAME="NAME"></a></li>
							</TMPL_LOOP>
						</TMPL_LOOP>
					</ul>
				</li>

				<!-- Categories -->
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<TMPL_LOOP NAME="GLOBALCATS">
							<li><a href="<TMPL_VAR NAME="R_PATH">/<TMPL_VAR NAME="URLDAY">"><TMPL_VAR NAME="NAME"></a></li>
						</TMPL_LOOP>
					</ul>
				</li>

				<!-- Groups -->
<!--
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown">Groups<b class="caret"></b></a>
					<ul class="dropdown-menu">
					<TMPL_LOOP NAME="ROOTGROUPS">
						<li><a href="<TMPL_VAR NAME="R_PATH">/<TMPL_VAR NAME="URL">"><TMPL_VAR NAME="NAME"></a></li>
					</TMPL_LOOP>
					</ul>
				</li>
-->

				<!-- Problems -->
				<li class="dropdown">
					<a href="<TMPL_VAR NAME='R_PATH'>/problems.html" class="dropdown-toggle">Problems<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="<TMPL_VAR NAME='R_PATH'>/problems.html#criticals"><span class="badge badge-error"><TMPL_VAR NAME='NCRITICAL'> Critical</span></a></li>
						<li><a href="<TMPL_VAR NAME='R_PATH'>/problems.html#warnings"><span class="badge badge-warning"><TMPL_VAR NAME='NWARNING'> Warning</span></a></li>
						<li><a href="<TMPL_VAR NAME='R_PATH'>/problems.html#unknowns"><span class="badge badge-info"><TMPL_VAR NAME='NUNKNOWN'> Unknown</span></a></li>
					</ul>
				</li>
				<li><a href="<TMPL_VAR NAME='R_PATH'>/problems.html#criticals"><span class="badge badge-error"><TMPL_VAR NAME='NCRITICAL'></span></a></li>
				<li><a href="<TMPL_VAR NAME='R_PATH'>/problems.html#warnings"><span class="badge badge-warning"><TMPL_VAR NAME='NWARNING'></span></a></li>
				<li><a href="<TMPL_VAR NAME='R_PATH'>/problems.html#unknowns"><span class="badge badge-info"><TMPL_VAR NAME='NUNKNOWN'></span></a></li>

			</ul>

			<!-- Generated xx ago -->
			<ul class="nav navbar-nav navbar-right">
				<li><a id="generated" href="javascript:location.reload()">&nbsp;</a></li>
			</ul>

		</div>
	</div>
</div>

